@font-face {
  font-family: "iconfont"; /* Project id 4261985 */
  src: url('iconfont.woff2?t=1695698204059') format('woff2'),
       url('iconfont.woff?t=1695698204059') format('woff'),
       url('iconfont.ttf?t=1695698204059') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tuichudenglu:before {
  content: "\e614";
}

.icon-dept:before {
  content: "\e613";
}

.icon-tongyongtubiao-1:before {
  content: "\e60b";
}

.icon-tongyongtubiao1:before {
  content: "\e60c";
}

.icon-Subtract:before {
  content: "\e612";
}

.icon-a-Polygon22:before {
  content: "\e60a";
}

.icon-xianxingtubiao-1:before {
  content: "\e604";
}

.icon-xianxingtubiao1:before {
  content: "\e606";
}

.icon-Vector-1:before {
  content: "\e607";
}

.icon-Vector-2:before {
  content: "\e608";
}

.icon-Vector2:before {
  content: "\e609";
}

.icon-Vector1:before {
  content: "\e605";
}

.icon-a-tubiaoxiaobaoshenchaProperty2tubiaoProperty3tubiao96:before {
  content: "\e60f";
}

.icon-xianxingtubiao:before {
  content: "\e60e";
}

.icon-a-Rectangle143:before {
  content: "\e625";
}

.icon-mianxingtubiao:before {
  content: "\e626";
}

.icon-mianxingtubiao-1:before {
  content: "\e627";
}

.icon-mianxingtubiao-2:before {
  content: "\e628";
}

.icon-file-ppt:before {
  content: "\e610";
}

.icon-mp4:before {
  content: "\e640";
}

.icon-picture:before {
  content: "\e611";
}

.icon-zip1:before {
  content: "\e616";
}

.icon-file-txt:before {
  content: "\e63f";
}

.icon-Vector:before {
  content: "\e603";
}

.icon-tongyongtubiao:before {
  content: "\e60d";
}

