@common_primary_color: #2D5CF6;
@common_error_color: #EB5757;

.view-box {
  padding: 16px 80px 24px;
}

.bgc-white {
  background-color: #fff;
  border-radius: 10px;
}
.primary-color {
  color: @common_primary_color;
}